@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Regular.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf');
  font-weight: 700;
  font-style: normal;
}

@keyframes rotateCircle {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.comment-container {
  position: relative;
}

.comment-container > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.comment-container > *:nth-child(1) {
  height: 5%;
  backdrop-filter: blur(5px);
}

.comment-container > *:nth-child(2) {
  height: 15%;
  backdrop-filter: blur(3px);
}
