@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Regular.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf');
  font-weight: 700;
  font-style: normal;
}

@keyframes rotateCircle {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.comment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
}

.comment-mask {
  inset: 0;
  padding: 1rem;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 1)
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 1)
  );
  /* -ms-overflow-style: none;  IE and Edge 
  scrollbar-width: none; Firefox */
}

.infinite-scroll-component__outerdiv {
  width: 24rem;
  height: 560px;
}
